# Dependencies
node_modules/

# Bundle artifact
*.jsbundle

# CocoaPods
ios/Pods/

# Xcode
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/app/build/
android/.gradle/
android/captures/
*.jks
*.keystore

# Metro
.metro-health-check*

# Testing
coverage/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
